<!DOCTYPE html>
<html lang="ko">
<head>
{% load static %}
<style>
#map {
    border:1px solid #ddd;
    display: block;
    width:100%;
    height:400px;
    clear: both;
}
</style>

<link rel="stylesheet" type="text/css" href="{% static 'css/top.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=js3asglc0n"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=js3asglc0n&submodules=geocoder"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<h3>2019-01-03</h3>
</head>

<body>
<div id="Home" class="tabcontent">
<h1>Welcome to our site</h1>
<h3>Lee Yoong Hee, Seo Dong Ho, Kim Young Sun</h3>
</div>

<div id="Map" class="tabcontent">
<h1>M a p</h1>
<h3>Do you want to see where bakeries are located?</h3> 
</div>

<div id="Detail" class="tabcontent">
<h1>D e t a i l</h1>
<h3>Search bakeries nearby Seocho-Station.</h3>
</div>

<div id="etc" class="tabcontent">
<h1>E t c</h1>
<h3>nothing.</h3>
</div>


<button class="tablink" onclick="openCity('Home', this, 'lightgrey');location.href='{% url "myapp:index" %}'">Home</button>
<button class="tablink" onclick="openCity('Map', this, 'lightskyblue')" id="defaultOpen">Map</button>
<button class="tablink" onclick="openCity('Detail', this, 'lightsalmon');location.href='{% url "myapp:blog_list" %}'" >Detail</button>
<button class="tablink" onclick="openCity('etc', this, 'lightcoral');location.href='{% url "myapp:etc" %}'">etc</button>

<br>
<p>빵집 지도</p><br>
<div id="map"></div>

<script>
var HOME_PATH = window.HOME_PATH || '.';
var position = new naver.maps.LatLng(37.470739, 127.033245);

var map = new naver.maps.Map('map', {
    center: position,
    zoom: 7
}),
infoWindow = null;

function addMarker(z, y, x) 
{
    var position = new naver.maps.LatLng(y, x);
    var markerOptions = // new naver.maps.Marker(
    {
        position: position.destinationPoint(90, 15),
        map: map,
        icon: {
            url: '/static/images/marker.png',
            size: new naver.maps.Size(50, 52),
            origin: new naver.maps.Point(0, 0),
            anchor: new naver.maps.Point(25, 26)
        }
    };
    
    var marker = new naver.maps.Marker(markerOptions);

    var contentString = [
        '<div class="iw_inner">',
        '   <h3>'+z+'</h3>',
        '   <p>주소 | 주소<br />',
        '       <img src="/static/images/marker.png" width="55" height="55" alt="빵집" class="thumb" /><br />',
        '       전화번호 | Bakery<br />',
        '       <a href="http://www.naver.com" target="_blank">www.naver.com/</a>',
        '   </p>',
        '</div>'
    ].join('');

    var infowindow = new naver.maps.InfoWindow({
        content: contentString,
        maxWidth: 140,
        backgroundColor: "white",
        borderColor: "#2db400",
        borderWidth: 5,
        anchorSize: new naver.maps.Size(30, 30),
        anchorSkew: true,
        anchorColor: "#eee",
        pixelOffset: new naver.maps.Point(20, -20)
    });

    naver.maps.Event.addListener(marker, "click", function(e) {
        //rect.setBounds(bounds);
        if (infowindow.getMap()) {
            infowindow.close();
        } else {
            infowindow.open(map, marker);
        }
    });

    marker.setMap(map);
}

data2 = "";

d3.csv("/static/images/seocho.csv", function(data){ 
    csvmake(data); 
});

function csvmake(data){
    for (var i=0, ii=data.length; i<ii; i++) {
        addMarker(data[i].name,data[i].lat,data[i].lng);
    }
}

function initGeocoder() {
    var latlng = map.getCenter();
    var utmk = naver.maps.TransCoord.fromLatLngToUTMK(latlng); // 위/경도 -> UTMK
    var tm128 = naver.maps.TransCoord.fromUTMKToTM128(utmk);   // UTMK -> TM128
    var naverCoord = naver.maps.TransCoord.fromTM128ToNaver(tm128); // TM128 -> NAVER

    infoWindow = new naver.maps.InfoWindow({
        content: ''
    });
    map.addListener('click', function(e) {
        var latlng = e.coord,
            utmk = naver.maps.TransCoord.fromLatLngToUTMK(latlng),
            tm128 = naver.maps.TransCoord.fromUTMKToTM128(utmk),
            naverCoord = naver.maps.TransCoord.fromTM128ToNaver(tm128);

        utmk.x = parseFloat(utmk.x.toFixed(1));
        utmk.y = parseFloat(utmk.y.toFixed(1));

        infoWindow.setContent([
            '<div style="padding:10px;width:380px;font-size:14px;line-height:20px;">',
            '<strong>LatLng</strong> : '+ latlng.toString() +'<br />',
            '<strong>UTMK</strong> : '+ utmk.toString() +'<br />',
            '<strong>TM128</strong> : '+ tm128.toString() +'<br />',
            '<strong>NAVER</strong> : '+ naverCoord.toString() +'<br />',
            '</div>'
        ].join(''));

        infoWindow.open(map, latlng);
        console.log('LatLng: ' + latlng.toString());
        console.log('UTMK: ' + utmk.toString());
        console.log('TM128: ' + tm128.toString());
        console.log('NAVER: ' + naverCoord.toString());

    });
}

naver.maps.onJSContentLoaded = initGeocoder;

var polygon = new naver.maps.Polygon({
    map: map,
    paths: [
        [
            new naver.maps.LatLng(37.52503988289669, 127.01397119667513),
            new naver.maps.LatLng(37.48175802427603, 127.03621915098798),
            new naver.maps.LatLng(37.4659228914077, 127.0559170481904),
            new naver.maps.LatLng(37.472697935184655, 127.08640440578156),
            new naver.maps.LatLng(37.45862253857461, 127.09842759318751),
            new naver.maps.LatLng(37.44296826114185, 127.09046928565951),
            new naver.maps.LatLng(37.426197424057314, 127.06778107605433),
            new naver.maps.LatLng(37.42805836845694, 127.04957232987142),
            new naver.maps.LatLng(37.45382039851715, 127.03881782597922),
            new naver.maps.LatLng(37.455326143310025, 126.99072073195462),
            new naver.maps.LatLng(37.473856492692086, 126.98367668291802),
            new naver.maps.LatLng(37.509314966770326, 126.98223807916081),
            new naver.maps.LatLng(37.52503988289669, 127.01397119667513)
        ]
    ],
    fillColor: '#ff0000',
    fillOpacity: 0,
    strokeColor: '#ff0000',
    strokeOpacity: 0.6,
    strokeWeight: 3
});

var polyline = new naver.maps.Polyline({
    map: map,
    path: [
        new naver.maps.LatLng(37.52503988289669, 127.01397119667513),
        new naver.maps.LatLng(37.48175802427603, 127.03621915098798),
        new naver.maps.LatLng(37.4659228914077, 127.0559170481904),
        new naver.maps.LatLng(37.472697935184655, 127.08640440578156),
        new naver.maps.LatLng(37.45862253857461, 127.09842759318751),
        new naver.maps.LatLng(37.44296826114185, 127.09046928565951),
        new naver.maps.LatLng(37.426197424057314, 127.06778107605433),
        new naver.maps.LatLng(37.42805836845694, 127.04957232987142),
        new naver.maps.LatLng(37.45382039851715, 127.03881782597922),
        new naver.maps.LatLng(37.455326143310025, 126.99072073195462),
        new naver.maps.LatLng(37.473856492692086, 126.98367668291802),
        new naver.maps.LatLng(37.509314966770326, 126.98223807916081),
        new naver.maps.LatLng(37.52503988289669, 127.01397119667513)
    ]
});

</script>

    <script>
        function openCity(cityName,elmnt,color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(cityName).style.display = "block";
            elmnt.style.backgroundColor = color;
            
        }
            // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        
    </script>
</body>
</html>